debug: False
loglevel: 20 #CRITICAL=50;ERROR=40;WARNING=30;INFO=20;DEBUG=10


devices:
    - device:
        name: test_1
        topic: tele/tasmota_XXXXXX/SENSOR
    - device:
        name: test_2
        topic: tele/tasmota_YYYYYY/SENSOR

mqtt:
    host: 
    username: 
    password: 

db:
    host: 
    database: 
    username: 
    password: 
    engine: mysql #mysql or sqlite
    filename: db/default.db #only used for sqlite

timezone: Europe/London