#Set to true to enable some helpful logging
debug = False

mqtt = {
    "host": "HOST_URL_OR_IP",
    "username": "USERNAME",
    "password": "PASSWORD"
}

db = {
    "host": "HOST_URL_OR_IP",
    "database": "DB_NAME",
    "username": "USERNAME",
    "password": "PASSWORD"
}
