debug: False

mqtt:
    host: 
    username: 
    password: 

db:
    host: 
    database: 
    username: 
    password: 
    engine: mysql #mysql or sqlite
    filename: db/default.db #only used for sqlite